*.dat filter=lfs diff=lfs merge=lfs -text
wrfbdy* filter=lfs diff=lfs merge=lfs -text
wrfinp* filter=lfs diff=lfs merge=lfs -text
*wrfbdy* filter=lfs diff=lfs merge=lfs -text
*wrfinp* filter=lfs diff=lfs merge=lfs -text
